html, body {
  height: 100%;
  width: 100%;
}

.bandera {
  background-color: darkblue;
  height: 30%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Izquierda de la Bandera */
.columna-izq {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.izq-arriba {
  background-color: white;
  height: 40%;
  width: 100%;
}

.izq-abajo {
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.rojo-izq {
  background-color: red;
  height: 85%;
  width: 90%;
}

/* Derecha de la Bandera */
.columna-der {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.der-arriba {
  background-color: white;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.der-abajo {
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.rojo-der {
  background-color: red;
  height: 85%;
  width: 93.5%;
}

/* Media Queries */
@media only screen and (min-width: 400px) {
  body {
    background-color: lightblue;
  }

  .bandera {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(150, 173, 95);
  }

  .bandera {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: bisque;
  }

  .bandera {
    width: 40%;
  }
}


@media only screen and (min-width: 1500px) {
  body {
    background-color: rgb(196, 251, 255);
  }

  .bandera {
    width: 25%;
  }
}