/* Utilidades */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.navbar {
  height: 80px;
  width: 1152px;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  height: 100%;
  width: 300px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__links {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4b5ebe;
  font-weight: 500;
}

/* Hero */

.hero {
  height: 450px;
  width: 1200px;
  display: flex;
}

.hero__photo {
  background-color: darkgreen;
  width: 40%;
  height: 100%;
}

.hero__text {
  background-color:darkorchid;
  width: 60%;
  height: 100%;
}