/* Utilidades */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-space {
  margin-bottom: 6px;
  padding-bottom: 10px;
}

/* Navbar */
.navbar {
  height: 80px;
  width: 1152px;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  height: 100%;
  width: 300px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__links {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4b5ebe;
  font-weight: 500;
}

/* Hero */

.hero {
  height: 450px;
  width: 1200px;
  display: flex;
}

.hero__photo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__photo img {
  height: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero__text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.hero__text h2 {
  color: #6e7bb9;
  margin-bottom: 12px;
}

.hero__text h1 {
  display: flex;
  flex-direction: column;
}

.title {
  color: #4b5ebe;
  font-size: 2em;
  font-weight: 500;
}

.title-dark {
  color: #192664;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.hero__text button {
  background-color: #4b5ebe;
  height: 3em;
  width: 175px;
  color: white;
  font-size: 0.75em;
  text-transform: uppercase;
  border: 0px solid white;
  border-radius: 5px;
}