/* Utilidades */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Secciones */
.navbar {
  height: 80px;
  width: 1152px;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  height: 100%;
  width: 300px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__links {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4b5ebe;
  font-weight: 500;
}