:root {
  --color-red: #b41631;
  --color-blue: #33b8ff;
}

.margin-bottom {
  margin-bottom: 100px;
}

.container {
  width: 100%;
  height: 20vh; /* vh = viewport height*/
  display: flex;
  flex-direction: row; /* column */
  justify-content: space-around;
  /*
  flex-start
  flex-end
  center
  space-between
  space-around
  */
}

.container-two {
  width: 100%;
  height: 20vh; /* vh = viewport height*/
  display: flex;
  flex-direction: row; /* column */
  flex-wrap: wrap; /* nowrap */
}

.container-three {
  width: 100%;
  height: 20vh; /* vh = viewport height*/
  display: flex;
  flex-flow: row wrap; /* flex-direction + flex-wrap */
}

.container-four {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-flow: column;
}

.item {
  width: 100px;
  height: 100px;
  color: white;
  font-weight: 300;
}

.red {
  background-color: var(--color-red);
}

.blue {
  background-color: var(--color-blue);
}
